# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
/abi
node_modules.yarn1.bak

# need to support all Svelte Component
packages/lib/src/layout/BottomSheet
charting_library/
packages/lib/src/charting_library
packages/lib/src/datafeeds
packages/static/charting_library