node_modules
node_modules.yarn1.bak

build
abi-gen

.svelte-kit
.cloudflare
.wrangler

.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/unplugged
.pnp.*

/packages/lib/src/models/api.d.ts

.env.local
.env.production.local

packages/lib/src/charting_library
packages/lib/src/datafeeds
packages/static/charting_library

.near-credentials
# SpecStory explanation file
.specstory/.what-is-this.md
